In [1]:
for i in range(1,6):
  print(i)              #the value of i is also known as iteration

1
2
3
4
5

In [2]:
i=1
while(i<6):            #Same thing done by using while loop
  print(i)
  i+=1

1
2
3
4
5

In [3]:
l=["Rohan","Reeta","Chanda","Dev","Riya"]   #prints all the value present in the list
i=0
while(i<len(l)):
  print(l[i])
  i+=1

Rohan
Reeta
Chanda
Dev
Riya

## ***For Loop***

In [4]:
for i in range(4):
  print(i)

0
1
2
3

In [6]:
for i in range(0,20,4):  #step size
  print(i)

0
4
8
12
16

In [7]:
for i in range(100):  #breaks or exits the loop
  if(i==34):
    break
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [8]:
for i in range(100):  #skips 34
  if(i==34):
    continue
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

# ***`While Loop`***

In [12]:
n = int(input("Enter a number: "))
#prints multiplication table
for i in range(1,11):
  print(f"{n}x{i}={n*i}")
  i=1
  while(i<11):
    i+=1

Enter a number: 7
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
7x10=70

In [13]:
l = ["heya", "yayy", "syntax"]    #pritns all the items in a list
for i in l:
  print(i)

heya
yayy
syntax

In [17]:
n=int(input("Enter a number: "))
for i in range(2,n):
  if(n%i==0):
    print("Not Prime")
    break
else:
  print("Prime")

Enter a number: 5
Prime

In [26]:
n=int(input("Enter a number: "))
i=1
sum=0
while(i<=n):   #1+2+3+4+5
  sum+=i
  i+=1
print(sum)

Enter a number: 5
15

In [27]:
n=int(input("Enter a number: "))
product=1
for i in range(1,n+1):
  product=product*i
print(f"The factorial of {n} is {product}")

Enter a number: 5
The factorial of 5 is 120

## ***`End Argument`***

In [36]:
''' *
   ***     For n=3
  *****  '''

n=int(input("Enter a number: "))
for i in range(1,n+1):
  print(" "*(n-i),end="")               #3-1=2 spaces, then 1 and none
  print("*"*(2*i-1), end="")            #2-1=1 * till n
  print("")                             #to support end argument

Enter a number: 3
  *
 ***
*****

In [47]:
'''  *
     **
     ***
   For n=3 '''

n=int(input("Enter a number: "))
for i in range(1,n+1):
  print("*"*i, end="")              #'*' * 1 -> 2 -> 3
  print("")                         #to support end argument

Enter a number: 3
*
**
***

In [63]:
'''  ***
     * *
     ***
   For n=3 '''

n=int(input("Enter a number: "))
for i in range(1, n+1):
  if(i==1 or i==n):
    print("*"*n,end="")
  else:
    print("*", end="")
    print(" "*(n-2), end="")
    print("*",end="")
  print("")

Enter a number: 3
***
* *
***

In [60]:
n=int(input("Enter a number: "))
for i in range(1,11):
     print(f"{n}x{i}={n*i}")

Enter a number: 5
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
5x10=50